In [291]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [292]:
#Import libraries
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler,MinMaxScaler,PolynomialFeatures,RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.linear_model import LassoCV,RidgeCV,ElasticNetCV
from sklearn.feature_selection import RFE, VarianceThreshold
from sklearn.model_selection import GridSearchCV,KFold,RandomizedSearchCV, StratifiedKFold,cross_val_score
from sklearn.metrics import r2_score
sns.set_context("paper", font_scale = 1, rc={"grid.linewidth": 3})
pd.set_option('display.max_rows', 100, 'display.max_columns', 400)
from scipy.stats import skew,boxcox_normmax
from scipy.special import boxcox1p
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_squared_error
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from xgboost import XGBRFRegressor,XGBRegressor
from lightgbm import LGBMRegressor
from mlxtend.regressor import StackingCVRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,BaggingRegressor,ExtraTreesRegressor

In [293]:
df_train = pd.read_csv("/content/drive/MyDrive/Datasets/Finance/train_Data.csv",parse_dates=['DisbursalDate','MaturityDAte','AuthDate'])

df_test = pd.read_csv("/content/drive/MyDrive/Datasets/Finance/test_Data.csv",parse_dates=['DisbursalDate','MaturityDAte','AuthDate'])


types = {"ID":"int32","WRITE-OFF-AMT":"float32","TENURE":"float16"}
df_train_bureau = pd.read_csv("/content/drive/MyDrive/Datasets/Finance/train_bureau.csv",dtype=types,parse_dates=['DATE-REPORTED','DISBURSED-DT','CLOSE-DT','LAST-PAYMENT-DATE'])

types = {"ID":"int32","WRITE-OFF-AMT":"float32","TENURE":"float16"}
df_test_bureau = pd.read_csv("/content/drive/MyDrive/Datasets/Finance/test_bureau.csv",dtype=types,parse_dates=['DATE-REPORTED','DISBURSED-DT','CLOSE-DT','LAST-PAYMENT-DATE'])

In [294]:
Submission = df_test[['ID']]

#Combining the train and test datasets for better EDA
df_train['Source'] = "Train"
df_test['Source'] = "Test"

df = pd.concat([df_train, df_test],axis=0)
df.shape
df = df.drop_duplicates()

In [295]:
df.head()

,ID,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,DisbursalAmount,EMI,DisbursalDate,MaturityDAte,AuthDate,AssetID,ManufacturerID,SupplierID,LTV,SEX,AGE,MonthlyIncome,City,State,ZiPCODE,Top-up Month,Source
0,1,Monthly,Arrear,Closed,PDC_E,1,NaN,48,450000,275000.0,275000.0,24000.0,2012-02-10,2016-01-15,2012-02-10,4022465,1568.0,21946,61.11,M,49.0,35833.33,RAISEN,MADHYA PRADESH,464993.0,> 48 Months,Train
1,2,Monthly,Advance,Closed,PDC,333,BHOPAL,47,485000,350000.0,350000.0,10500.0,2012-03-31,2016-02-15,2012-03-31,4681175,1062.0,34802,70.00,M,23.0,666.67,SEHORE,MADHYA PRADESH,466001.0,No Top-up Service,Train
2,3,Quatrly,Arrear,Active,Direct Debit,1,NaN,68,690000,519728.0,519728.0,38300.0,2017-06-17,2023-02-10,2017-06-17,25328146,1060.0,127335,69.77,M,39.0,45257.00,BHOPAL,MADHYA PRADESH,462030.0,12-18 Months,Train
3,7,Monthly,Advance,Closed,Billed,125,GUNA,48,480000,400000.0,400000.0,11600.0,2013-11-29,2017-11-10,2013-11-29,13021591,1060.0,25094,80.92,M,24.0,20833.33,ASHOK NAGAR,MADHYA PRADESH,473335.0,> 48 Months,Train
4,8,Monthly,Arrear,Closed,Billed,152,BILASPUR,44,619265,440000.0,440000.0,15000.0,2011-12-08,2015-07-05,2011-12-08,3291320,1046.0,21853,71.05,M,56.0,27313.67,BILASPUR,CHATTISGARH,495442.0,36-48 Months,Train

**EDA - Bureau Data**

1. Data-Cleaning
2. Feature Engineering and Feature Selection
(Starting with null value imputation)
3. Encoding and further

In [296]:
#Dropping duplicates, if any
df_train_bureau = df_train_bureau.drop_duplicates()
df_test_bureau = df_test_bureau.drop_duplicates()

In [297]:
df_train_bureau.shape, df_test_bureau.shape

((556980, 25), (63331, 25))

In [298]:
df_train_bureau['Source'] = "Train"
df_test_bureau['Source'] = "Test"
df_bureau_data = pd.concat([df_train_bureau, df_test_bureau],axis=0)
df_bureau_data.shape

(620311, 26)

In [299]:
df_bureau_data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 620311 entries, 0 to 64018
Data columns (total 26 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         620311 non-null  int32
 1   SELF-INDICATOR             620311 non-null  bool
 2   MATCH-TYPE                 620311 non-null  object
 3   ACCT-TYPE                  620311 non-null  object
 4   CONTRIBUTOR-TYPE           620311 non-null  object
 5   DATE-REPORTED              616634 non-null  datetime64[ns]
 6   OWNERSHIP-IND              620311 non-null  object
 7   ACCOUNT-STATUS             620311 non-null  object
 8   DISBURSED-DT               588384 non-null  datetime64[ns]
 9   CLOSE-DT                   340799 non-null  object
 10  LAST-PAYMENT-DATE          269683 non-null  datetime64[ns]
 11  CREDIT-LIMIT/SANC AMT      16688 non-null   object
 12  DISBURSED-AMT/HIGH CREDIT  620273 non-null  object
 13  INSTALLMENT-AMT            153976 non-null  object
 14  CURRENT-BAL                620047 non-null  object
 15  INSTALLMENT-FREQUENCY      148812 non-null  object
 16  OVERDUE-AMT                489247 non-null  object
 17  WRITE-OFF-AMT              598688 non-null  float32
 18  ASSET_CLASS                286067 non-null  object
 19  REPORTED DATE - HIST       598688 non-null  object
 20  DPD - HIST                 598230 non-null  object
 21  CUR BAL - HIST             598688 non-null  object
 22  AMT OVERDUE - HIST         598688 non-null  object
 23  AMT PAID - HIST            597411 non-null  object
 24  TENURE                     211023 non-null  float16
 25  Source                     620311 non-null  object
dtypes: bool(1), datetime64[ns](3), float16(1), float32(1), int32(1), object(19)
memory usage: 900.7 MB

  1. We can see there are 18 variables that are of object dtype and few are of datetime dtype followed by 1 each in float and int category. 
  2. We can also see that there are many variables with missing values. If the percentage of missing values is more than 50%, we will go ahead and delete the variable. 
  3. We also have to check the object variables, about the cardinality. If there are many values, we might have to combine a few of them.

In [300]:
df_bureau_data.head()

,ID,SELF-INDICATOR,MATCH-TYPE,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,LAST-PAYMENT-DATE,CREDIT-LIMIT/SANC AMT,DISBURSED-AMT/HIGH CREDIT,INSTALLMENT-AMT,CURRENT-BAL,INSTALLMENT-FREQUENCY,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,REPORTED DATE - HIST,DPD - HIST,CUR BAL - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,TENURE,Source
0,1,False,PRIMARY,Overdraft,NAB,2018-04-30,Individual,Delinquent,2015-10-05,NaN,2018-02-27,NaN,"37,352",NaN,"37,873",NaN,"37,873",0.0,Standard,"20180430,20180331,",030000,"37873,12820,","37873,,",",,",NaN,Train
1,1,False,PRIMARY,Auto Loan (Personal),NAB,2019-12-31,Individual,Active,2018-03-19,NaN,2019-12-19,NaN,"44,000","1,405/Monthly","20,797",F03,NaN,0.0,Standard,"20191231,20191130,20191031,20190930,20190831,2...",0000000000000000000000000000000000000000000000...,"20797,21988,23174,24341,25504,26648,27780,2891...",",,,,,,,,,,,,,,,,,,,,1452,,",",,,,,,,,,,,,,,,,,,,,,,",36.0,Train
2,1,True,PRIMARY,Tractor Loan,NBF,2020-01-31,Individual,Active,2019-08-30,NaN,NaT,NaN,"1,45,000",NaN,"1,16,087",NaN,0,0.0,NaN,"20200131,20191231,20191130,20191031,20190930,2...",000000000000000000,"116087,116087,145000,145000,145000,145000,","0,0,0,0,0,0,",",,,,,,",NaN,Train
3,1,True,PRIMARY,Auto Loan (Personal),NBF,2017-09-30,Individual,Closed,2013-09-27,2017-09-21 00:00:00,NaT,NaN,"3,00,000",NaN,0,NaN,0,0.0,NaN,"20170930,20170801,20170731,20170630,20170531,2...",000DDD0270260270260270240270270000320000000000...,"0,,15925,23754,31494,39147,46713,54194,61590,6...","0,,1014,1014,1014,1014,1014,1014,1014,983,0,92...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN,Train
4,1,True,PRIMARY,Tractor Loan,NBF,2016-02-29,Individual,Closed,2012-02-10,2016-02-01 00:00:00,NaT,NaN,"2,75,000",NaN,0,NaN,0,0.0,NaN,"20160229,20160131,20151231,20151130,20151031,2...",0000000000000000000000000000000000000000000000...,"0,0,23658,23321,22989,46321,45662,45012,68030,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN,Train

In [301]:
(df_bureau_data.isna().sum()/len(df_bureau_data))*100

ID                            0.000000
SELF-INDICATOR                0.000000
MATCH-TYPE                    0.000000
ACCT-TYPE                     0.000000
CONTRIBUTOR-TYPE              0.000000
DATE-REPORTED                 0.592767
OWNERSHIP-IND                 0.000000
ACCOUNT-STATUS                0.000000
DISBURSED-DT                  5.146934
CLOSE-DT                     45.059978
LAST-PAYMENT-DATE            56.524550
CREDIT-LIMIT/SANC AMT        97.309737
DISBURSED-AMT/HIGH CREDIT     0.006126
INSTALLMENT-AMT              75.177613
CURRENT-BAL                   0.042559
INSTALLMENT-FREQUENCY        76.010098
OVERDUE-AMT                  21.128756
WRITE-OFF-AMT                 3.485832
ASSET_CLASS                  53.883294
REPORTED DATE - HIST          3.485832
DPD - HIST                    3.559666
CUR BAL - HIST                3.485832
AMT OVERDUE - HIST            3.485832
AMT PAID - HIST               3.691697
TENURE                       65.981097
Source                        0.000000
dtype: float64

In [302]:
df_bureau_data.head()

,ID,SELF-INDICATOR,MATCH-TYPE,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,LAST-PAYMENT-DATE,CREDIT-LIMIT/SANC AMT,DISBURSED-AMT/HIGH CREDIT,INSTALLMENT-AMT,CURRENT-BAL,INSTALLMENT-FREQUENCY,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,REPORTED DATE - HIST,DPD - HIST,CUR BAL - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,TENURE,Source
0,1,False,PRIMARY,Overdraft,NAB,2018-04-30,Individual,Delinquent,2015-10-05,NaN,2018-02-27,NaN,"37,352",NaN,"37,873",NaN,"37,873",0.0,Standard,"20180430,20180331,",030000,"37873,12820,","37873,,",",,",NaN,Train
1,1,False,PRIMARY,Auto Loan (Personal),NAB,2019-12-31,Individual,Active,2018-03-19,NaN,2019-12-19,NaN,"44,000","1,405/Monthly","20,797",F03,NaN,0.0,Standard,"20191231,20191130,20191031,20190930,20190831,2...",0000000000000000000000000000000000000000000000...,"20797,21988,23174,24341,25504,26648,27780,2891...",",,,,,,,,,,,,,,,,,,,,1452,,",",,,,,,,,,,,,,,,,,,,,,,",36.0,Train
2,1,True,PRIMARY,Tractor Loan,NBF,2020-01-31,Individual,Active,2019-08-30,NaN,NaT,NaN,"1,45,000",NaN,"1,16,087",NaN,0,0.0,NaN,"20200131,20191231,20191130,20191031,20190930,2...",000000000000000000,"116087,116087,145000,145000,145000,145000,","0,0,0,0,0,0,",",,,,,,",NaN,Train
3,1,True,PRIMARY,Auto Loan (Personal),NBF,2017-09-30,Individual,Closed,2013-09-27,2017-09-21 00:00:00,NaT,NaN,"3,00,000",NaN,0,NaN,0,0.0,NaN,"20170930,20170801,20170731,20170630,20170531,2...",000DDD0270260270260270240270270000320000000000...,"0,,15925,23754,31494,39147,46713,54194,61590,6...","0,,1014,1014,1014,1014,1014,1014,1014,983,0,92...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN,Train
4,1,True,PRIMARY,Tractor Loan,NBF,2016-02-29,Individual,Closed,2012-02-10,2016-02-01 00:00:00,NaT,NaN,"2,75,000",NaN,0,NaN,0,0.0,NaN,"20160229,20160131,20151231,20151130,20151031,2...",0000000000000000000000000000000000000000000000...,"0,0,23658,23321,22989,46321,45662,45012,68030,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN,Train

In [303]:
for col in df_bureau_data.columns:
    if df_bureau_data[col].dtype == "object":
        print ("Value Count of {} column are:\n{}".format(col, df_bureau_data[col].value_counts(dropna=False)))

Value Count of MATCH-TYPE column are:
PRIMARY      620086
SECONDARY       225
Name: MATCH-TYPE, dtype: int64
Value Count of ACCT-TYPE column are:
Tractor Loan                                                           207869
Gold Loan                                                               98370
Business Loan Priority Sector  Agriculture                              88083
Kisan Credit Card                                                       37588
Auto Loan (Personal)                                                    33432
Other                                                                   29602
Commercial Vehicle Loan                                                 20484
Two-Wheeler Loan                                                        17641
Credit Card                                                             14081
Consumer Loan                                                           13675
Overdraft                                                               10445
Personal Loan                                                            9792
Housing Loan                                                             6183
Construction Equipment Loan                                              4986
JLG Individual                                                           4583
Business Loan General                                                    4460
Loan Against Bank Deposits                                               4253
Used Car Loan                                                            3063
Business Loan Priority Sector  Small Business                            2149
Loan Against Shares / Securities                                         1677
Property Loan                                                            1482
Mudra Loans   Shishu / Kishor / Tarun                                    1304
Business Loan Priority Sector  Others                                    1216
Business Non-Funded Credit Facility-Priority Sector-Agriculture           524
Education Loan                                                            486
Non-Funded Credit Facility                                                461
Business Loan - Secured                                                   375
Individual                                                                329
Business Loan Against Bank Deposits                                       324
Business Loan Unsecured                                                   249
Microfinance Business Loan                                                239
Loan to Professional                                                      202
Microfinance Others                                                       134
Business Non-Funded Credit Facility-Priority Sector- Small Business       130
Secured Credit Card                                                        85
Business Non-Funded Credit Facility General                                76
Prime Minister Jaan Dhan Yojana - Overdraft                                69
Pradhan Mantri Awas Yojana - CLSS                                          35
JLG Group                                                                  34
SHG Individual                                                             34
Microfinance Personal Loan                                                 29
Fleet Card                                                                 24
Commercial Equipment Loan                                                  17
Microfinance Housing Loan                                                  17
Corporate Credit Card                                                       6
Loan on Credit Card                                                         5
Business Non-Funded Credit Facility-Priority Sector-Others                  3
Leasing                                                                     3
Telco Landline                                                              1
Staff Loan                                                                  1
SHG Group                                                                   1
Name: ACCT-TYPE, dtype: int64
Value Count of CONTRIBUTOR-TYPE column are:
NBF    285776
NAB    190914
PRB     83567
RRB     26315
COP     24203
MFI      3659
HFC      3166
CCC      1649
FRB       812
SFB       239
ARC         7
OFI         4
Name: CONTRIBUTOR-TYPE, dtype: int64
Value Count of OWNERSHIP-IND column are:
Individual          535178
Joint                41118
Guarantor            38890
Primary               4981
Supl Card Holder       144
Name: OWNERSHIP-IND, dtype: int64
Value Count of ACCOUNT-STATUS column are:
Closed                         351441
Active                         225266
Delinquent                      36883
Written Off                      3100
Suit Filed                       2275
Settled                           686
Restructured                      550
SUIT FILED (WILFUL DEFAULT)        79
WILFUL DEFAULT                     29
Sold/Purchased                      1
Cancelled                           1
Name: ACCOUNT-STATUS, dtype: int64
Value Count of CLOSE-DT column are:
NaN                    279512
2019-06-01 00:00:00       834
2017-07-31 00:00:00       786
2018-03-31 00:00:00       725
2015-07-01 00:00:00       712
                        ...
2008-09-13 00:00:00         1
2008-05-27 00:00:00         1
2023-09-21 00:00:00         1
2007-12-27 00:00:00         1
2008-09-28 00:00:00         1
Name: CLOSE-DT, Length: 4740, dtype: int64
Value Count of CREDIT-LIMIT/SANC AMT column are:
NaN         603623
0             5042
30,000        1013
25,000        1004
15,000         789
             ...
14,550           1
76,100           1
76,500           1
9,17,742         1
92,700           1
Name: CREDIT-LIMIT/SANC AMT, Length: 915, dtype: int64
Value Count of DISBURSED-AMT/HIGH CREDIT column are:
0           34664
3,00,000    28014
2,00,000    17799
4,00,000    15187
1,00,000    14411
            ...
1,10,776        1
3,56,238        1
1,45,922        1
2,33,014        1
98,438          1
Name: DISBURSED-AMT/HIGH CREDIT, Length: 79322, dtype: int64
Value Count of INSTALLMENT-AMT column are:
NaN                 466335
0/Monthly            31209
0                     2245
1,00,000/Monthly      1840
50,000/Monthly         844
                     ...
1,2,163/Monthly          1
1,17,491/Monthly         1
2,61,272/Monthly         1
69,373/Monthly           1
92,824/Monthly           1
Name: INSTALLMENT-AMT, Length: 53871, dtype: int64
Value Count of CURRENT-BAL column are:
0           386533
2,50,000       797
1,00,000       485
3,00,000       425
50,000         384
             ...
1,38,833         1
7,83,852         1
25,435           1
3,57,341         1
2,6,822          1
Name: CURRENT-BAL, Length: 163572, dtype: int64
Value Count of INSTALLMENT-FREQUENCY column are:
NaN    471499
F03    141162
F05      2735
F01      2582
F02      1972
F10       333
F04        13
F07         7
F08         6
F06         2
Name: INSTALLMENT-FREQUENCY, dtype: int64
Value Count of OVERDUE-AMT column are:
0            451062
NaN          131064
118             289
1               167
100             104
              ...
65,444            1
35,970            1
6,44,962          1
34,71,893         1
15,819            1
Name: OVERDUE-AMT, Length: 24890, dtype: int64
Value Count of ASSET_CLASS column are:
NaN                        334244
Standard                   272988
SubStandard                  5821
Doubtful                     2928
Special Mention Account      2767
Loss                          947
1                             404
01                            209
2                               3
Name: ASSET_CLASS, dtype: int64
Value Count of REPORTED DATE - HIST column are:
20200131,20191231,20191130,20191031,20190930,20190831,20190731,20190630,20190531,20190430,20190331,20190228,20190131,20181231,20181130,20181031,20180930,20180831,20180731,20180630,20180531,20180430,20180331,20180228,20180131,20171231,20171130,20171031,20170930,20170831,20170731,20170630,20170531,20170430,20170331,20170228,    25347
NaN                                                                                                                                                                                                                                                                                                                                     21623
20191231,20191130,20191031,20190930,20190831,20190731,20190630,20190531,20190430,20190331,20190228,20190131,20181231,20181130,20181031,20180930,20180831,20180731,20180630,20180531,20180430,20180331,20180228,20180131,20171231,20171130,20171031,20170930,20170831,20170731,20170630,20170531,20170430,20170331,20170228,20170131,     6600
20191031,20190930,20190831,20190731,20190630,20190531,20190430,20190331,20190228,20190131,20181231,20181130,20181031,20180930,20180831,20180731,20180630,20180531,20180430,20180331,20180228,20180131,20171231,20171130,20171031,20170930,20170831,20170731,20170630,20170531,20170430,20170331,20170228,20170131,20161231,20161130,     3937
20200131,20191231,20191130,20191031,20190930,20190831,20190731,20190630,20190531,20190430,20190331,20190228,20190131,20181231,20181130,20181031,20180930,20180831,20180731,20180630,20180531,20180430,20180331,20180228,20180131,20171231,20171130,20171031,20170930,20170831,20170731,20170630,                                         3480
                                                                                                                                                                                                                                                                                                                                        ...
20191125,20191001,20190901,20190801,20190701,20190601,20190501,20190401,20190301,20190201,20190101,20181201,20181101,20181001,20180901,20180801,20180701,20180630,20180531,20180515,20180430,20180415,20180331,20180228,20180131,20171231,20171130,20171031,20170930,                                                                       1
20150808,20150701,20150630,                                                                                                                                                                                                                                                                                                                 1
20200201,20200104,20191227,20191130,20191025,20190927,20190831,20190726,20190630,20190504,20190426,20190331,20190202,20190105,20181201,20181103,                                                                                                                                                                                            1
20180418,20180404,20180305,20180205,20180103,20171203,20171121,20171017,20170910,20170821,20170702,20170618,20170520,20170414,20170312,20170203,20170117,20161205,20161103,20161004,20160915,20160801,20160729,20160628,20160504,20160419,                                                                                                  1
20130831,20130731,20130629,20130531,20130430,20130330,20130228,20130131,20121231,20121130,20121031,20120929,20120831,20120731,20120630,20120531,20120401,20120331,20120301,20120229,20120131,20111231,20111130,20111031,20110930,20110831,                                                                                                  1
Name: REPORTED DATE - HIST, Length: 63028, dtype: int64
Value Count of DPD - HIST column are:
0                                                                                                               43639
XXX                                                                                                             42699
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000    26441
NaN                                                                                                             22081
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX    12280
                                                                                                                ...
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXDDDDDDXXXXXXDDDXXXXXXXXXXXXXXX                 1
000DDD232202171142111082049022000000000                                                                             1
000900900900900900900879848818787756726695665634606575544514483452422391361330300269241210DDD149118088057025        1
000000000000000000000000000000000000000000000000000022000000000000000000000000000000000022000000000100067039        1
XXX215184156125900089059XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX                 1
Name: DPD - HIST, Length: 146773, dtype: int64
Value Count of CUR BAL - HIST column are:
,                                                                                                                                                                                                                           34732
NaN                                                                                                                                                                                                                         21623
0,                                                                                                                                                                                                                           9709
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,                                                                                                                                                     2247
0,0,                                                                                                                                                                                                                         2124
                                                                                                                                                                                                                            ...
41543,41543,41543,41543,41543,41543,41543,41543,41543,41543,41543,52657,52657,52657,52657,49240,49240,49240,49240,49240,49240,47076,47076,46018,46018,46018,46018,44622,44622,44622,44622,44622,44622,44366,44366,43566,        1
0,0,49423,49207,                                                                                                                                                                                                                1
45036,,45036,45036,83111,83111,83111,,83111,83111,83111,120955,120955,120955,120955,120955,169181,169181,169181,169181,169181,169181,169181,219610,219610,219610,219610,219610,274439,274439,274440,274440,                     1
164640,164640,164640,188247,188247,188247,188247,210877,210877,232571,232571,232571,253368,253368,253368,273304,273304,273304,300000,300000,                                                                                    1
40579,42704,44787,,48600,                                                                                                                                                                                                       1
Name: CUR BAL - HIST, Length: 498300, dtype: int64
Value Count of AMT OVERDUE - HIST column are:
,                                                                                                                                                38588
NaN                                                                                                                                              21623
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0                                                                          16810
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,                                                                                                             12667
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,                                                                         11689
                                                                                                                                                 ...
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17000,17000,17000,17000,0,0,0,                                                             1
0,52388,0,0,0,0,0,0,0,0,0,0,0,0                                                                                                                      1
2993,976,3956,1938,4917,5926,4637,4649,2668,691,878,,,,3532,1604,5670,3742,,,,3373,1465,,4647,2736,829,931,329,4417,2508,1463,,3977,2061,425,        1
,,210,200,190,15120,170,160,150,140,130,120,110,100,90,80                                                                                            1
,,250,250,                                                                                                                                           1
Name: AMT OVERDUE - HIST, Length: 207245, dtype: int64
Value Count of AMT PAID - HIST column are:
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,        71026
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,         50607
,                                            45661
NaN                                          22900
,,,,,,,,,,,,,,                               15123
                                             ...
,,,,,,,,,,,,,,,,,,,,,,,,8725,,,,,,,,,,,,,        1
,,8402,7002,,,,,,,,,1500,,,,,,,,,,,,,,           1
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,-40000,            1
,,,,,,,,,,,,,,,13000,,,,,,,,,,,,,,,,,,,,,        1
,,74000,,,,,,,,,,,,,,                            1
Name: AMT PAID - HIST, Length: 93474, dtype: int64
Value Count of Source column are:
Train    556980
Test      63331
Name: Source, dtype: int64

In [304]:
#We will drop the MATCH-TYPE column as it has one value which is dominating
df_bureau_data.drop("MATCH-TYPE",axis=1,inplace=True)

#We will combine the values of certain columns which are few in number
df_bureau_data['ACCT-TYPE'].replace({"Secured Credit Card":"Others",
                                  "Business Non-Funded Credit Facility General":"Others",
                                  "Prime Minister Jaan Dhan Yojana - Overdraft":"Others",
                                  "Pradhan Mantri Awas Yojana - CLSS":"Others",
                                  "SHG Individual":"Others",
                                  "JLG Group":"Others",
                                  "Microfinance Personal Loan":"Others",
                                  "Fleet Card":"Others",
                                  "Microfinance Housing Loan":"Others",
                                  "Commercial Equipment Loan":"Others",
                                  "Corporate Credit Card":"Others",
                                  "Loan on Credit Card":"Others",
                                  "Business Non-Funded Credit Facility-Priority Sector-Others":"Others",
                                  "Leasing":"Others",
                                  "Telco Landline":"Others",
                                  "SHG Group":"Others",
                                  "Staff Loan":"Others"},inplace=True)
df_bureau_data['CONTRIBUTOR-TYPE'].replace({"SFB":"Others",
                                         "ARC":"Others",
                                         "OFI":"Others"},inplace=True)
df_bureau_data['ACCOUNT-STATUS'].replace({"SUIT FILED (WILFUL DEFAULT)":"Others",
                                       "WILFUL DEFAULT":"Others",
                                       "Sold/Purchased":"Others",
                                       "Cancelled":"Others"},inplace=True)

# We will drop the ASSET_CLASS variable as it has majority of missing values.
df_bureau_data.drop("ASSET_CLASS",axis=1,inplace=True)

In [305]:
df_bureau_data.isna().sum()/len(bureau_data)

ID                           0.000000
SELF-INDICATOR               0.000000
ACCT-TYPE                    0.000000
CONTRIBUTOR-TYPE             0.000000
DATE-REPORTED                0.005928
OWNERSHIP-IND                0.000000
ACCOUNT-STATUS               0.000000
DISBURSED-DT                 0.051469
CLOSE-DT                     0.450600
LAST-PAYMENT-DATE            0.565245
CREDIT-LIMIT/SANC AMT        0.973097
DISBURSED-AMT/HIGH CREDIT    0.000061
INSTALLMENT-AMT              0.751776
CURRENT-BAL                  0.000426
INSTALLMENT-FREQUENCY        0.760101
OVERDUE-AMT                  0.211288
WRITE-OFF-AMT                0.034858
REPORTED DATE - HIST         0.034858
DPD - HIST                   0.035597
CUR BAL - HIST               0.034858
AMT OVERDUE - HIST           0.034858
AMT PAID - HIST              0.036917
TENURE                       0.659811
Source                       0.000000
dtype: float64

In [306]:
df_bureau_data.drop(['TENURE','OVERDUE-AMT','INSTALLMENT-FREQUENCY','CREDIT-LIMIT/SANC AMT','LAST-PAYMENT-DATE','CLOSE-DT'],axis=1,inplace=True)

In [307]:
#We will delete the Date Variables as of now
df_bureau_data.drop(['DATE-REPORTED','DISBURSED-DT','REPORTED DATE - HIST'],axis=1,inplace=True)

In [308]:
df_bureau_data.head()

,ID,SELF-INDICATOR,ACCT-TYPE,CONTRIBUTOR-TYPE,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-AMT/HIGH CREDIT,INSTALLMENT-AMT,CURRENT-BAL,WRITE-OFF-AMT,DPD - HIST,CUR BAL - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,Source
0,1,False,Overdraft,NAB,Individual,Delinquent,"37,352",NaN,"37,873",0.0,030000,"37873,12820,","37873,,",",,",Train
1,1,False,Auto Loan (Personal),NAB,Individual,Active,"44,000","1,405/Monthly","20,797",0.0,0000000000000000000000000000000000000000000000...,"20797,21988,23174,24341,25504,26648,27780,2891...",",,,,,,,,,,,,,,,,,,,,1452,,",",,,,,,,,,,,,,,,,,,,,,,",Train
2,1,True,Tractor Loan,NBF,Individual,Active,"1,45,000",NaN,"1,16,087",0.0,000000000000000000,"116087,116087,145000,145000,145000,145000,","0,0,0,0,0,0,",",,,,,,",Train
3,1,True,Auto Loan (Personal),NBF,Individual,Closed,"3,00,000",NaN,0,0.0,000DDD0270260270260270240270270000320000000000...,"0,,15925,23754,31494,39147,46713,54194,61590,6...","0,,1014,1014,1014,1014,1014,1014,1014,983,0,92...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",Train
4,1,True,Tractor Loan,NBF,Individual,Closed,"2,75,000",NaN,0,0.0,0000000000000000000000000000000000000000000000...,"0,0,23658,23321,22989,46321,45662,45012,68030,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",Train

In [309]:
df_bureau_data.drop(df_bureau_data[df_bureau_data['WRITE-OFF-AMT']<0].index,axis=0,inplace=True)

In [310]:
df_bureau_data[df_bureau_data['WRITE-OFF-AMT']<0]

Empty DataFrame
Columns: [ID, SELF-INDICATOR, ACCT-TYPE, CONTRIBUTOR-TYPE, OWNERSHIP-IND, ACCOUNT-STATUS, DISBURSED-AMT/HIGH CREDIT, INSTALLMENT-AMT, CURRENT-BAL, WRITE-OFF-AMT, DPD - HIST, CUR BAL - HIST, AMT OVERDUE - HIST, AMT PAID - HIST, Source]
Index: []

In [311]:
df_bureau_data.head(n=10)

,ID,SELF-INDICATOR,ACCT-TYPE,CONTRIBUTOR-TYPE,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-AMT/HIGH CREDIT,INSTALLMENT-AMT,CURRENT-BAL,WRITE-OFF-AMT,DPD - HIST,CUR BAL - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,Source
0,1,False,Overdraft,NAB,Individual,Delinquent,"37,352",NaN,"37,873",0.0,030000,"37873,12820,","37873,,",",,",Train
1,1,False,Auto Loan (Personal),NAB,Individual,Active,"44,000","1,405/Monthly","20,797",0.0,0000000000000000000000000000000000000000000000...,"20797,21988,23174,24341,25504,26648,27780,2891...",",,,,,,,,,,,,,,,,,,,,1452,,",",,,,,,,,,,,,,,,,,,,,,,",Train
2,1,True,Tractor Loan,NBF,Individual,Active,"1,45,000",NaN,"1,16,087",0.0,000000000000000000,"116087,116087,145000,145000,145000,145000,","0,0,0,0,0,0,",",,,,,,",Train
3,1,True,Auto Loan (Personal),NBF,Individual,Closed,"3,00,000",NaN,0,0.0,000DDD0270260270260270240270270000320000000000...,"0,,15925,23754,31494,39147,46713,54194,61590,6...","0,,1014,1014,1014,1014,1014,1014,1014,983,0,92...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",Train
4,1,True,Tractor Loan,NBF,Individual,Closed,"2,75,000",NaN,0,0.0,0000000000000000000000000000000000000000000000...,"0,0,23658,23321,22989,46321,45662,45012,68030,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",Train
5,1,False,Credit Card,NAB,Individual,Closed,0,NaN,0,0.0,000000000,"24650,17300,0,",",,,",",,,,",Train
6,1,False,Auto Loan (Personal),NAB,Individual,Active,"5,00,000","7,934/Monthly","4,43,769",0.0,000000000000000000000000000000000000000000,"443769,448365,453134,457687,462320,466802,4712...",",,,,,,,,,,,,,,",",,,,,,,,,,,,,,",Train
7,1,True,Auto Loan (Personal),NBF,Individual,Closed,"5,00,000",NaN,0,0.0,000DDD0000000000000870540270270000320000000000...,"0,,0,0,0,0,0,0,0,13060,13060,25982,38767,51417...","0,,0,0,0,0,3064,3064,3064,2972,0,2802,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",Train
8,1,True,Auto Loan (Personal),NBF,Individual,Closed,"4,00,000",NaN,0,0.0,000DDD0220210220190220220000270000000000000000...,"0,,0,10487,20862,31126,41281,51328,51328,71101...","0,,1722,1722,1722,1722,1722,1722,0,1625,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",Train
9,2,False,Overdraft,PRB,Individual,Closed,"17,00,000",NaN,0,0.0,000DDDDDD000DDDDDD000DDDDDD000DDDDDD000,"0,,,1699997,,,154997,,,-3,,,149997,","0,,,0,,,0,,,0,,,0",",,,,,,,,,,,,,,",Train

In [312]:
#Some of the numerical variables are coded as of object type because of the comma in the numbers, we convert them to the right data type.
df_bureau_data['DISBURSED-AMT/HIGH CREDIT'] = df_bureau_data['DISBURSED-AMT/HIGH CREDIT'].str.replace(",","")
df_bureau_data['DISBURSED-AMT/HIGH CREDIT'] = pd.to_numeric(df_bureau_data['DISBURSED-AMT/HIGH CREDIT'])

df_bureau_data['CURRENT-BAL'] = df_bureau_data['CURRENT-BAL'].str.replace(",","")
df_bureau_data['CURRENT-BAL'] = pd.to_numeric(df_bureau_data['CURRENT-BAL'])

In [313]:
df_bureau_data['DISBURSED-AMT/HIGH CREDIT'].fillna(df_bureau_data['DISBURSED-AMT/HIGH CREDIT'].mean(),inplace=True)
df_bureau_data['CURRENT-BAL'].fillna(df_bureau_data['CURRENT-BAL'].mean(),inplace=True)
df_bureau_data['WRITE-OFF-AMT'].fillna(df_bureau_data['WRITE-OFF-AMT'].mean(),inplace=True)

In [314]:
df_bureau_data.isna().sum()

ID                                0
SELF-INDICATOR                    0
ACCT-TYPE                         0
CONTRIBUTOR-TYPE                  0
OWNERSHIP-IND                     0
ACCOUNT-STATUS                    0
DISBURSED-AMT/HIGH CREDIT         0
INSTALLMENT-AMT              466333
CURRENT-BAL                       0
WRITE-OFF-AMT                     0
DPD - HIST                    22081
CUR BAL - HIST                21623
AMT OVERDUE - HIST            21623
AMT PAID - HIST               22900
Source                            0
dtype: int64

In [315]:
df_train_bureau = df_bureau_data[df_bureau_data['Source']=="Train"]
df_test_bureau = df_bureau_data[df_bureau_data['Source']=="Test"]
df_train_bureau.drop("Source",axis=1,inplace=True)
df_test_bureau.drop("Source",axis=1,inplace=True)

In [316]:
# Data-Cleaning
def ddp_hist_func(value):
    history =  [value[i:i+3] for i in range(0,len(value),3)]
    count_no_delays = len([c for c in history if c=="000"])
    count_no_payment_history_this_month = len([c for c in history if c=="DDD"])
    count_no_payment_history_prior = len([c for c in history if c=="XXX"])
    count_payments_past_due_date = len(history)-count_no_delays-count_no_payment_history_this_month-count_no_payment_history_prior
    return count_no_delays,count_payments_past_due_date,count_no_payment_history_this_month,count_no_payment_history_prior

df_train_bureau['DPD - HIST'].fillna(",",inplace=True)
df_train_bureau['DPD_History_Months'] = df_train_bureau['DPD - HIST'].apply(ddp_hist_func)

ddp_hist =pd.DataFrame(df_train_bureau['DPD_History_Months'].tolist())
ddp_hist.columns = ['Count_No_Delays_In_Payment','Count_Payment_Past_Due_Date','History_Not_Available_Curr_Month','History_Not_Available_Prior_Month']
df_train_bureau = pd.concat([df_train_bureau,ddp_hist],axis=1)
df_train_bureau.drop('DPD_History_Months',axis=1,inplace=True)


def cur_bal_func(val):
    history = val.split(",")[:]
    history_lst = [int(item) if item!="" else 0 for item in history]
    
    max_cur_bal = max(np.array(history_lst))
    min_cur_bal = min(np.array(history_lst))
    sum_cur_bal = sum(np.array(history_lst))
    avg_cur_bal = np.mean(np.array(history_lst))
    
    sum_successive_diff = np.sum(np.diff(np.array(history_lst)))
    avg_successive_diff = sum_successive_diff/len(np.diff(np.array(history_lst)))
    
    return min_cur_bal,max_cur_bal,sum_cur_bal,avg_cur_bal,sum_successive_diff,avg_successive_diff

df_train_bureau['CUR BAL - HIST'].fillna(",",inplace=True)
df_train_bureau['CUR_Bal_History_Months'] = df_train_bureau['CUR BAL - HIST'].apply(cur_bal_func)

cur_bal_hist = pd.DataFrame(df_train_bureau['CUR_Bal_History_Months'].tolist())
cur_bal_hist.columns = ['Min_Cur_Bal','Max_Cur_Bal','Sum_Cur_Bal','Avg_Cur_Bal','Sum_Successive_Diff_CurBal','Avg_Successive_Diff_CurBal']
df_train_bureau = pd.concat([df_train_bureau, cur_bal_hist],axis=1)
df_train_bureau.drop('CUR_Bal_History_Months',axis=1,inplace=True)


def amt_overdue_func(val):
    history = val.split(",")
    history_lst = [int(item) if item!="" else 0 for item in history]
    
    max_overdue = max(np.array(history_lst))
    min_overdue = min(np.array(history_lst))
    sum_overdue = sum(np.array(history_lst))
    avg_overdue = np.mean(np.array(history_lst))
    
    sum_successive_diff = np.sum(np.diff(np.array(history_lst)))
    avg_successive_diff = sum_successive_diff/len(np.diff(np.array(history_lst)))
        
    return min_overdue,max_overdue,sum_overdue,avg_overdue,sum_successive_diff,avg_successive_diff

df_train_bureau['AMT OVERDUE - HIST'].fillna(",",inplace=True)
df_train_bureau['AMT_Overdue_History_Months'] = df_train_bureau['AMT OVERDUE - HIST'].apply(amt_overdue_func)

amt_overdue_hist =pd.DataFrame(df_train_bureau['AMT_Overdue_History_Months'].tolist())
amt_overdue_hist.columns = ['Min_Overdue','Max_Overdue','Sum_Overdue','Avg_Overdue','Sum_Successive_Diff_Overdue','Avg_Successive_Diff_Overdue']
df_train_bureau = pd.concat([df_train_bureau, amt_overdue_hist],axis=1)
df_train_bureau.drop('AMT_Overdue_History_Months',axis=1,inplace=True)


def amt_paid_func(val):
    history = val.split(",")
    history_lst = [int(float(item)) if item!="" else 0 for item in history]
    
    max_amount_paid = max(np.array(history_lst))
    min_amount_paid = min(np.array(history_lst))
    sum_amount_paid = sum(np.array(history_lst))
    avg_amount_paid = np.mean(np.array(history_lst))
    
    return min_amount_paid,max_amount_paid,sum_amount_paid,avg_amount_paid

df_train_bureau['AMT PAID - HIST'].fillna(",",inplace=True)
df_train_bureau['AMT_Paid_History_Months'] = df_train_bureau['AMT PAID - HIST'].apply(amt_paid_func)

#This is the way how you transform and rejoin a column to the dataframe in pandas
amt_paid_hist = pd.DataFrame(df_train_bureau['AMT_Paid_History_Months'].tolist())
amt_paid_hist.columns = ['Min_Amount_Paid','Max_Amount_Paid','Sum_Amount_Paid','Avg_Amount_Paid']
df_train_bureau = pd.concat([df_train_bureau,amt_paid_hist],axis=1)
df_train_bureau.drop('AMT_Paid_History_Months',axis=1,inplace=True)


def installment_amt_func(val):
    amount = val.split("/")[0]
    duration = val.split("/")[-1]
    return amount,duration

df_train_bureau['INSTALLMENT-AMT'].fillna("",inplace=True)
df_train_bureau['INSTALLMENT_HIST'] = df_train_bureau['INSTALLMENT-AMT'].apply(installment_amt_func)

installment_amt_hist = pd.DataFrame(df_train_bureau['INSTALLMENT_HIST'].tolist())
installment_amt_hist.columns = ['Installment_Amount','Installment_Frequency']
df_train_bureau = pd.concat([df_train_bureau, installment_amt_hist],axis=1)
df_train_bureau.drop(['INSTALLMENT_HIST','Installment_Frequency'],axis=1,inplace=True)

del installment_amt_hist,ddp_hist,amt_paid_hist,amt_overdue_hist,cur_bal_hist #Dropping unnecesdary columns

In [317]:
df_train_bureau.drop(['AMT PAID - HIST','AMT OVERDUE - HIST','CUR BAL - HIST','DPD - HIST'],axis=1,inplace=True)

In [318]:
def ddp_hist_func(value):
    history =  [value[i:i+3] for i in range(0,len(value),3)]
    count_no_delays = len([c for c in history if c=="000"])
    count_no_payment_history_this_month = len([c for c in history if c=="DDD"])
    count_no_payment_history_prior = len([c for c in history if c=="XXX"])
    count_payments_past_due_date = len(history)-count_no_delays-count_no_payment_history_this_month-count_no_payment_history_prior
    return count_no_delays,count_payments_past_due_date,count_no_payment_history_this_month,count_no_payment_history_prior

df_test_bureau['DPD - HIST'].fillna(",",inplace=True)
df_test_bureau['DPD_History_Months'] = df_test_bureau['DPD - HIST'].apply(ddp_hist_func)

ddp_hist = pd.DataFrame(df_test_bureau['DPD_History_Months'].tolist())
ddp_hist.columns = ['Count_No_Delays_In_Payment','Count_Payment_Past_Due_Date','History_Not_Available_Curr_Month','History_Not_Available_Prior_Month']
df_test_bureau = pd.concat([df_test_bureau,ddp_hist],axis=1)
df_test_bureau.drop('DPD_History_Months',axis=1,inplace=True)


def cur_bal_func(val):
    history = val.split(",")[:-1]
    history_lst = [int(item) if item!="" else 0 for item in history]
    
    max_cur_bal = max(np.array(history_lst))
    min_cur_bal = min(np.array(history_lst))
    sum_cur_bal = sum(np.array(history_lst))
    avg_cur_bal = np.mean(np.array(history_lst))
    
    sum_successive_diff = np.sum(np.diff(np.array(history_lst)))
    avg_successive_diff = sum_successive_diff/len(np.diff(np.array(history_lst)))
    
    return min_cur_bal,max_cur_bal,sum_cur_bal,avg_cur_bal,sum_successive_diff,avg_successive_diff

df_test_bureau['CUR BAL - HIST'].fillna(",",inplace=True)
df_test_bureau['CUR_Bal_History_Months'] = df_test_bureau['CUR BAL - HIST'].apply(cur_bal_func)

cur_bal_hist = pd.DataFrame(df_test_bureau['CUR_Bal_History_Months'].tolist())
cur_bal_hist.columns = ['Min_Cur_Bal','Max_Cur_Bal','Sum_Cur_Bal','Avg_Cur_Bal','Sum_Successive_Diff_CurBal','Avg_Successive_Diff_CurBal']
df_test_bureau = pd.concat([df_test_bureau, cur_bal_hist],axis=1)
df_test_bureau.drop('CUR_Bal_History_Months',axis=1,inplace=True)


def amt_overdue_func(val):
    history = val.split(",")
    history_lst = [int(item) if item!="" else 0 for item in history]
    
    max_overdue = max(np.array(history_lst))
    min_overdue = min(np.array(history_lst))
    sum_overdue = sum(np.array(history_lst))
    avg_overdue = np.mean(np.array(history_lst))
    
    sum_successive_diff = np.sum(np.diff(np.array(history_lst)))
    avg_successive_diff = sum_successive_diff/len(np.diff(np.array(history_lst)))
        
    return min_overdue,max_overdue,sum_overdue,avg_overdue,sum_successive_diff,avg_successive_diff

df_test_bureau['AMT OVERDUE - HIST'].fillna(",",inplace=True)
df_test_bureau['AMT_Overdue_History_Months'] = df_test_bureau['AMT OVERDUE - HIST'].apply(amt_overdue_func)

amt_overdue_hist =pd.DataFrame(df_test_bureau['AMT_Overdue_History_Months'].tolist())
amt_overdue_hist.columns = ['Min_Overdue','Max_Overdue','Sum_Overdue','Avg_Overdue','Sum_Successive_Diff_Overdue','Avg_Successive_Diff_Overdue']
df_test_bureau = pd.concat([df_test_bureau, amt_overdue_hist],axis=1)
df_test_bureau.drop('AMT_Overdue_History_Months',axis=1,inplace=True)


def amt_paid_func(val):
    history = val.split(",")
    history_lst = [int(float(item)) if item!="" else 0 for item in history]
    
    max_amount_paid = max(np.array(history_lst))
    min_amount_paid = min(np.array(history_lst))
    sum_amount_paid = sum(np.array(history_lst))
    avg_amount_paid = np.mean(np.array(history_lst))
    
    return min_amount_paid,max_amount_paid,sum_amount_paid,avg_amount_paid

df_test_bureau['AMT PAID - HIST'].fillna(",",inplace=True)
df_test_bureau['AMT_Paid_History_Months'] = df_test_bureau['AMT PAID - HIST'].apply(amt_paid_func)

amt_paid_hist = pd.DataFrame(df_test_bureau['AMT_Paid_History_Months'].tolist())
amt_paid_hist.columns = ['Min_Amount_Paid','Max_Amount_Paid','Sum_Amount_Paid','Avg_Amount_Paid']
df_test_bureau = pd.concat([df_test_bureau, amt_paid_hist],axis=1)
df_test_bureau.drop('AMT_Paid_History_Months',axis=1,inplace=True)


def installment_amt_func(val):
    amount = val.split("/")[0]
    duration = val.split("/")[-1]
    return amount,duration

df_test_bureau['INSTALLMENT-AMT'].fillna("",inplace=True)
df_test_bureau['INSTALLMENT_HIST'] = df_test_bureau['INSTALLMENT-AMT'].apply(installment_amt_func)

installment_amt_hist = pd.DataFrame(df_test_bureau['INSTALLMENT_HIST'].tolist())
installment_amt_hist.columns = ['Installment_Amount','Installment_Frequency']
df_test_bureau = pd.concat([df_test_bureau,installment_amt_hist],axis=1)
df_test_bureau.drop(['INSTALLMENT_HIST','Installment_Frequency'],axis=1,inplace=True)


del installment_amt_hist,ddp_hist,amt_paid_hist,amt_overdue_hist,cur_bal_hist

In [319]:
df_test_bureau.drop(['AMT PAID - HIST','AMT OVERDUE - HIST','CUR BAL - HIST','DPD - HIST'],axis=1,inplace=True)

In [320]:
df_train_bureau['Source'] = "Train"
df_test_bureau['Source'] = "Test"
df_bureau_data = pd.concat([df_train_bureau, df_test_bureau],axis=0)
df_bureau_data.shape

(624863, 32)

In [321]:
df_bureau_data.head()

,ID,SELF-INDICATOR,ACCT-TYPE,CONTRIBUTOR-TYPE,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-AMT/HIGH CREDIT,INSTALLMENT-AMT,CURRENT-BAL,WRITE-OFF-AMT,Count_No_Delays_In_Payment,Count_Payment_Past_Due_Date,History_Not_Available_Curr_Month,History_Not_Available_Prior_Month,Min_Cur_Bal,Max_Cur_Bal,Sum_Cur_Bal,Avg_Cur_Bal,Sum_Successive_Diff_CurBal,Avg_Successive_Diff_CurBal,Min_Overdue,Max_Overdue,Sum_Overdue,Avg_Overdue,Sum_Successive_Diff_Overdue,Avg_Successive_Diff_Overdue,Min_Amount_Paid,Max_Amount_Paid,Sum_Amount_Paid,Avg_Amount_Paid,Installment_Amount,Source
0,1.0,False,Overdraft,NAB,Individual,Delinquent,37352.0,,37873.0,0.0,1.0,1.0,0.0,0.0,0.0,37873.0,50693.0,16897.666667,-37873.0,-18936.500000,0.0,37873.0,37873.0,12624.333333,-37873.0,-18936.5,0,0,0,0.0,,Train
1,1.0,False,Auto Loan (Personal),NAB,Individual,Active,44000.0,"1,405/Monthly",20797.0,0.0,21.0,1.0,0.0,0.0,0.0,44601.0,721702.0,31378.347826,-20797.0,-945.318182,0.0,1452.0,1452.0,63.130435,0.0,0.0,0,0,0,0.0,"1,405",Train
2,1.0,True,Tractor Loan,NBF,Individual,Active,145000.0,,116087.0,0.0,6.0,0.0,0.0,0.0,0.0,145000.0,812174.0,116024.857143,-116087.0,-19347.833333,0.0,0.0,0.0,0.000000,0.0,0.0,0,0,0,0.0,,Train
3,1.0,True,Auto Loan (Personal),NBF,Individual,Closed,300000.0,,0.0,0.0,14.0,21.0,1.0,0.0,0.0,232582.0,4398411.0,118875.972973,0.0,0.000000,0.0,1014.0,16989.0,471.916667,0.0,0.0,0,0,0,0.0,,Train
4,1.0,True,Tractor Loan,NBF,Individual,Closed,275000.0,,0.0,0.0,36.0,0.0,0.0,0.0,0.0,226605.0,4254371.0,114983.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0,0,0,0.0,,Train

**EDA - Main Data**

In [322]:
df.head()

,ID,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,DisbursalAmount,EMI,DisbursalDate,MaturityDAte,AuthDate,AssetID,ManufacturerID,SupplierID,LTV,SEX,AGE,MonthlyIncome,City,State,ZiPCODE,Top-up Month,Source
0,1,Monthly,Arrear,Closed,PDC_E,1,NaN,48,450000,275000.0,275000.0,24000.0,2012-02-10,2016-01-15,2012-02-10,4022465,1568.0,21946,61.11,M,49.0,35833.33,RAISEN,MADHYA PRADESH,464993.0,> 48 Months,Train
1,2,Monthly,Advance,Closed,PDC,333,BHOPAL,47,485000,350000.0,350000.0,10500.0,2012-03-31,2016-02-15,2012-03-31,4681175,1062.0,34802,70.00,M,23.0,666.67,SEHORE,MADHYA PRADESH,466001.0,No Top-up Service,Train
2,3,Quatrly,Arrear,Active,Direct Debit,1,NaN,68,690000,519728.0,519728.0,38300.0,2017-06-17,2023-02-10,2017-06-17,25328146,1060.0,127335,69.77,M,39.0,45257.00,BHOPAL,MADHYA PRADESH,462030.0,12-18 Months,Train
3,7,Monthly,Advance,Closed,Billed,125,GUNA,48,480000,400000.0,400000.0,11600.0,2013-11-29,2017-11-10,2013-11-29,13021591,1060.0,25094,80.92,M,24.0,20833.33,ASHOK NAGAR,MADHYA PRADESH,473335.0,> 48 Months,Train
4,8,Monthly,Arrear,Closed,Billed,152,BILASPUR,44,619265,440000.0,440000.0,15000.0,2011-12-08,2015-07-05,2011-12-08,3291320,1046.0,21853,71.05,M,56.0,27313.67,BILASPUR,CHATTISGARH,495442.0,36-48 Months,Train

In [323]:
for col in df.columns:
    if df[col].dtype == "object":
        print ("Value Counts of {} column are:\n{}".format(col,df[col].value_counts(dropna=False)))

Value Counts of Frequency column are:
Half Yearly    87101
Monthly        33534
Quatrly        22303
BI-Monthly       462
Name: Frequency, dtype: int64
Value Counts of InstlmentMode column are:
Arrear     136586
Advance      6814
Name: InstlmentMode, dtype: int64
Value Counts of LoanStatus column are:
Closed    105723
Active     37677
Name: LoanStatus, dtype: int64
Value Counts of PaymentMode column are:
ECS             35143
Direct Debit    35073
PDC             30148
Billed          29311
PDC_E           10927
Auto Debit        951
SI Reject         843
Cheque            509
ECS Reject        480
PDC Reject          8
Escrow              7
Name: PaymentMode, dtype: int64
Value Counts of Area column are:
NaN                    12199
LUCKNOW                 9547
SIRSA                   7085
NELLORE                 6259
INDORE                  5674
                       ...
UTTAR DINAJPUR             2
KOLKATA WOOD STREET        1
KHAMGAON                   1
JALORE                     1
GANGANAGAR                 1
Name: Area, Length: 104, dtype: int64
Value Counts of SEX column are:
M      136273
F        7063
NaN        64
Name: SEX, dtype: int64
Value Counts of City column are:
NaN              11256
NALGONDA          2483
HISAR             1935
GUNTUR            1802
NEEMUCH           1738
                 ...
GUMLA                1
BANSWARA             1
KARBI ANGLONG        1
CHATRA               1
SAHARANPUR           1
Name: City, Length: 515, dtype: int64
Value Counts of State column are:
MADHYA PRADESH            22495
ANDHRA PRADESH            20040
UTTAR PRADESH             14894
RAJASTHAN                 12408
KARNATAKA                 12398
GUJARAT                   11173
MAHARASHTRA               10572
HARYANA                   10054
PUNJAB                     7143
WEST BENGAL                5743
CHATTISGARH                5679
BIHAR                      3954
ORISSA                     3114
TELANGANA                  3012
UTTARAKHAND                 601
HIMACHAL PRADESH             75
JHARKHAND                    22
ASSAM                        10
DELHI                         9
CHANDIGARH                    2
TAMIL NADU                    1
DADRA AND NAGAR HAVELI        1
Name: State, dtype: int64
Value Counts of Top-up Month column are:
No Top-up Service    106677
NaN                   14745
 > 48 Months           8366
36-48 Months           3656
24-30 Months           3492
30-36 Months           3062
18-24 Months           2368
12-18 Months           1034
Name: Top-up Month, dtype: int64
Value Counts of Source column are:
Train    128655
Test      14745
Name: Source, dtype: int64

In [324]:
# We can remove the following columns, same way as we did earlier
df.drop(['Area','City','BranchID','AssetID','ManufacturerID','SupplierID','City','ZiPCODE'], axis=1, inplace=True)

# Replacing some values in some columns based on their occurences, same as we did earlier
df['PaymentMode'].replace({"SI Reject":"Reject",
                           "ECS Reject":"Reject",
                           "PDC Reject":"Reject",
                           "Cheque":"PDC",
                           "PDC_E":"PDC",
                           "Escrow":"Reject",
                           "Auto Debit":"Direct Debit"}, inplace=True)

df['State'].replace({"HIMACHAL PRADESH":"Others",
                     "JHARKHAND":"Others",
                     "ASSAM":"Others",
                     "DELHI":"Others",
                     "CHANDIGARH":"Others",
                     "TAMIL NADU":"Others",
                     "DADRA AND NAGAR HAVELI":"Others"}, inplace=True)

df['Top-up Month'].replace({"12-18 Months":0,
                            "18-24 Months":1,
                            "24-30 Months":2,
                            "30-36 Months":3,
                            "36-48 Months":4,
                            " > 48 Months":5,
                            "No Top-up Service":6}, inplace=True)

In [325]:
df.isna().sum()

ID                     0
Frequency              0
InstlmentMode          0
LoanStatus             0
PaymentMode            0
Tenure                 0
AssetCost              0
AmountFinance          0
DisbursalAmount        0
EMI                    0
DisbursalDate          0
MaturityDAte           1
AuthDate               0
LTV                    0
SEX                   64
AGE                   66
MonthlyIncome        248
State                  0
Top-up Month       14745
Source                 0
dtype: int64

In [326]:
df.drop(df[df['MaturityDAte'].isna()].index,axis=0,inplace=True)
df['SEX'].fillna("Missing",inplace=True)

#Replace missing 'AGE' values and 'MonthlyIncome' values with mean
df['AGE'].fillna(df['AGE'].mean(),inplace=True)
df['MonthlyIncome'].fillna(df['MonthlyIncome'].mean(),inplace=True)

In [327]:
df_bureau_data['Installment_Amount'].fillna(0,inplace=True)
df_bureau_data['Installment_Amount'] = df_bureau_data['Installment_Amount'].str.replace(",","")
df_bureau_data['Installment_Amount'] = pd.to_numeric(df_bureau_data['Installment_Amount'])

**Aggregate function based additional features - make a common function out of these for modular code**

In [328]:
def agg_func(df, df_bureau_data, col):
  agg_func_dict = {
      col : ['min', 'max', 'mean', 'sum']
  }

  agg_func_data = df_bureau_data.groupby('ID').agg(agg_func_dict)
  agg_func_data.columns = ['ID_' + ('_'.join(col).strip()) for col in agg_func_data.columns]
  agg_func_data.reset_index(inplace=True)
  df = df.merge(agg_func_data, on=['ID'], how='left')

  return df

In [329]:
df = agg_func(df, df_bureau_data, 'Count_No_Delays_In_Payment')

In [330]:
df = agg_func(df, df_bureau_data, 'Count_Payment_Past_Due_Date')

In [331]:
df = agg_func(df, df_bureau_data, 'History_Not_Available_Curr_Month')

In [332]:
df = agg_func(df, df_bureau_data, 'History_Not_Available_Prior_Month')

In [333]:
df = agg_func(df, df_bureau_data, 'Min_Cur_Bal')

In [334]:
df = agg_func(df, df_bureau_data, 'Max_Cur_Bal')

In [335]:
df = agg_func(df, df_bureau_data, 'Sum_Cur_Bal')

In [336]:
df = agg_func(df, df_bureau_data, 'Avg_Cur_Bal')

In [337]:
df = agg_func(df, df_bureau_data, 'Sum_Successive_Diff_CurBal')

In [338]:
df = agg_func(df, df_bureau_data, 'Avg_Successive_Diff_CurBal')

In [339]:
df = agg_func(df, df_bureau_data, 'Min_Amount_Paid')

In [340]:
df = agg_func(df, df_bureau_data, 'Max_Amount_Paid')

In [341]:
df = agg_func(df, df_bureau_data, 'Sum_Amount_Paid')

In [342]:
df = agg_func(df, df_bureau_data, 'Avg_Amount_Paid')

In [343]:
df = agg_func(df, df_bureau_data, 'Installment_Amount')

In [344]:
df = agg_func(df, df_bureau_data, 'DISBURSED-AMT/HIGH CREDIT')

In [345]:
df = agg_func(df, df_bureau_data, 'CURRENT-BAL')

In [346]:
df['Top-up Month'].fillna(0, inplace=True)

**Creating Further Additional Features**

In [347]:
self_indicator_dict = df_bureau_data.groupby("ID")['SELF-INDICATOR'].sum().to_dict()
acc_type_dict = df_bureau_data.groupby("ID")['ACCT-TYPE'].nunique().to_dict()
cont_type_dict = df_bureau_data.groupby("ID")['CONTRIBUTOR-TYPE'].nunique().to_dict()

In [348]:
df['Count_Self_Indicator'] = df["ID"].map(self_indicator)
df['Account_Type_Unique'] = df["ID"].map(acc_type_dict)
df['Unique_Contributor_Unique'] = df["ID"].map(cont_type_dict)

In [349]:
# Creating some more features, leveraging data of one table and fitting into another.
df['Common_ACCT-TYPE_By_ID_mode'] = df['ID'].map(df_bureau_data.groupby("ID")['ACCT-TYPE'].apply(lambda x: x.mode()[0]))
df['Common_CONTRIBUTOR-TYPE_By_ID_mode'] = df['ID'].map(df_bureau_data.groupby("ID")['CONTRIBUTOR-TYPE'].apply(lambda x: x.mode()[0]))
df['Common_OWNERSHIP-IND_By_ID_mode'] = df['ID'].map(df_bureau_data.groupby("ID")['OWNERSHIP-IND'].apply(lambda x: x.mode()[0]))
df['Common_ACCOUNT-STATUS_By_ID_mode'] = df['ID'].map(df_bureau_data.groupby("ID")['ACCOUNT-STATUS'].apply(lambda x: x.mode()[0]))

**Categorical Value Encoding**

In [ ]:
for col in df.columns:
  if df[col].dtype == 'object':
    df[col] = np.where(df[col].isnull(), "Missing", df[col])

In [350]:
#Target-Oriented Mean Encoding
payment_mode_series = df.groupby('Frequency')['Top-up Month'].mean()

In [353]:
#Target-Oriented Mean Encoding
payment_mode_dict = payment_mode_series.to_dict()

In [354]:
#Target-Oriented Mean Encoding
df['Frequency_encode'] = df['Frequency'].map(payment_mode_dict)
df.drop(['Frequency'], axis=1, inplace=True)

In [ ]:
for col in df.columns:
  if df[col].dtype == 'object':
    df[col] = np.where(df[col].isnull(), "Missing", df[col])

In [375]:
df = pd.get_dummies(df, drop_first=True)

In [378]:
df.head()

,ID,Tenure,AssetCost,AmountFinance,DisbursalAmount,EMI,DisbursalDate,MaturityDAte,AuthDate,LTV,AGE,MonthlyIncome,ID_Count_No_Delays_In_Payment_min,ID_Count_No_Delays_In_Payment_max,ID_Count_No_Delays_In_Payment_mean,ID_Count_No_Delays_In_Payment_sum,ID_Count_Payment_Past_Due_Date_min,ID_Count_Payment_Past_Due_Date_max,ID_Count_Payment_Past_Due_Date_mean,ID_Count_Payment_Past_Due_Date_sum,ID_History_Not_Available_Curr_Month_min,ID_History_Not_Available_Curr_Month_max,ID_History_Not_Available_Curr_Month_mean,ID_History_Not_Available_Curr_Month_sum,ID_History_Not_Available_Prior_Month_min,ID_History_Not_Available_Prior_Month_max,ID_History_Not_Available_Prior_Month_mean,ID_History_Not_Available_Prior_Month_sum,ID_Min_Cur_Bal_min,ID_Min_Cur_Bal_max,ID_Min_Cur_Bal_mean,ID_Min_Cur_Bal_sum,ID_Max_Cur_Bal_min,ID_Max_Cur_Bal_max,ID_Max_Cur_Bal_mean,ID_Max_Cur_Bal_sum,ID_Sum_Cur_Bal_min,ID_Sum_Cur_Bal_max,ID_Sum_Cur_Bal_mean,ID_Sum_Cur_Bal_sum,ID_Avg_Cur_Bal_min,ID_Avg_Cur_Bal_max,ID_Avg_Cur_Bal_mean,ID_Avg_Cur_Bal_sum,ID_Sum_Successive_Diff_CurBal_min,ID_Sum_Successive_Diff_CurBal_max,ID_Sum_Successive_Diff_CurBal_mean,ID_Sum_Successive_Diff_CurBal_sum,ID_Avg_Successive_Diff_CurBal_min,ID_Avg_Successive_Diff_CurBal_max,ID_Avg_Successive_Diff_CurBal_mean,ID_Avg_Successive_Diff_CurBal_sum,ID_Min_Amount_Paid_min,ID_Min_Amount_Paid_max,ID_Min_Amount_Paid_mean,ID_Min_Amount_Paid_sum,ID_Max_Amount_Paid_min,ID_Max_Amount_Paid_max,ID_Max_Amount_Paid_mean,ID_Max_Amount_Paid_sum,ID_Sum_Amount_Paid_min,ID_Sum_Amount_Paid_max,ID_Sum_Amount_Paid_mean,ID_Sum_Amount_Paid_sum,ID_Avg_Amount_Paid_min,ID_Avg_Amount_Paid_max,ID_Avg_Amount_Paid_mean,ID_Avg_Amount_Paid_sum,ID_Installment_Amount_min,ID_Installment_Amount_max,ID_Installment_Amount_mean,ID_Installment_Amount_sum,ID_DISBURSED-AMT/HIGH CREDIT_min,ID_DISBURSED-AMT/HIGH CREDIT_max,ID_DISBURSED-AMT/HIGH CREDIT_mean,ID_DISBURSED-AMT/HIGH CREDIT_sum,ID_CURRENT-BAL_min,ID_CURRENT-BAL_max,ID_CURRENT-BAL_mean,ID_CURRENT-BAL_sum,Account_Type_Unique,Unique_Contributor_Unique,Frequency_encode,InstlmentMode_Arrear,LoanStatus_Closed,PaymentMode_Direct Debit,PaymentMode_ECS,PaymentMode_PDC,PaymentMode_Reject,SEX_M,SEX_Missing,State_BIHAR,State_CHATTISGARH,State_GUJARAT,State_HARYANA,State_KARNATAKA,State_MADHYA PRADESH,State_MAHARASHTRA,State_ORISSA,State_Others,State_PUNJAB,State_RAJASTHAN,State_TELANGANA,State_UTTAR PRADESH,State_UTTARAKHAND,State_WEST BENGAL,Source_Train,Count_Self_Indicator_1,Count_Self_Indicator_2,Count_Self_Indicator_3,Count_Self_Indicator_4,Count_Self_Indicator_5,Count_Self_Indicator_6,Count_Self_Indicator_7,Count_Self_Indicator_8,Count_Self_Indicator_9,Count_Self_Indicator_10,Count_Self_Indicator_12,Count_Self_Indicator_17,Common_ACCT-TYPE_By_ID_mode_Business Loan - Secured,Common_ACCT-TYPE_By_ID_mode_Business Loan Against Bank Deposits,Common_ACCT-TYPE_By_ID_mode_Business Loan General,Common_ACCT-TYPE_By_ID_mode_Business Loan Priority Sector Agriculture,Common_ACCT-TYPE_By_ID_mode_Business Loan Priority Sector Others,Common_ACCT-TYPE_By_ID_mode_Business Loan Priority Sector Small Business,Common_ACCT-TYPE_By_ID_mode_Business Loan Unsecured,Common_ACCT-TYPE_By_ID_mode_Business Non-Funded Credit Facility-Priority Sector- Small Business,Common_ACCT-TYPE_By_ID_mode_Business Non-Funded Credit Facility-Priority Sector-Agriculture,Common_ACCT-TYPE_By_ID_mode_Commercial Vehicle Loan,Common_ACCT-TYPE_By_ID_mode_Construction Equipment Loan,Common_ACCT-TYPE_By_ID_mode_Consumer Loan,Common_ACCT-TYPE_By_ID_mode_Credit Card,Common_ACCT-TYPE_By_ID_mode_Education Loan,Common_ACCT-TYPE_By_ID_mode_Gold Loan,Common_ACCT-TYPE_By_ID_mode_Housing Loan,Common_ACCT-TYPE_By_ID_mode_Individual,Common_ACCT-TYPE_By_ID_mode_JLG Individual,Common_ACCT-TYPE_By_ID_mode_Kisan Credit Card,Common_ACCT-TYPE_By_ID_mode_Loan Against Bank Deposits,Common_ACCT-TYPE_By_ID_mode_Loan Against Shares / Securities,Common_ACCT-TYPE_By_ID_mode_Loan to Professional,Common_ACCT-TYPE_By_ID_mode_Microfinance Business Loan,Common_ACCT-TYPE_By_ID_mode_Microfinance Others,Common_ACCT-TYPE_By_ID_mode_Mudra Loans Shishu / Kishor / Tarun,Common_ACCT-TYPE_By_ID_mode_Non-Funded Credit Facility,Common_ACCT-TYPE_By_ID_mode_Other,Common_ACCT-TYPE_By_ID_mode_Others,Common_ACCT-TYPE_By_ID_mode_Overdraft,Common_ACCT-TYPE_By_ID_mode_Personal Loan,Common_ACCT-TYPE_By_ID_mode_Property Loan,Common_ACCT-TYPE_By_ID_mode_Tractor Loan,Common_ACCT-TYPE_By_ID_mode_Two-Wheeler Loan,Common_ACCT-TYPE_By_ID_mode_Used Car Loan,Common_CONTRIBUTOR-TYPE_By_ID_mode_COP,Common_CONTRIBUTOR-TYPE_By_ID_mode_FRB,Common_CONTRIBUTOR-TYPE_By_ID_mode_HFC,Common_CONTRIBUTOR-TYPE_By_ID_mode_MFI,Common_CONTRIBUTOR-TYPE_By_ID_mode_NAB,Common_CONTRIBUTOR-TYPE_By_ID_mode_NBF,Common_CONTRIBUTOR-TYPE_By_ID_mode_Others,Common_CONTRIBUTOR-TYPE_By_ID_mode_PRB,Common_CONTRIBUTOR-TYPE_By_ID_mode_RRB,Common_OWNERSHIP-IND_By_ID_mode_Individual,Common_OWNERSHIP-IND_By_ID_mode_Joint,Common_OWNERSHIP-IND_By_ID_mode_Primary,Common_ACCOUNT-STATUS_By_ID_mode_Closed,Common_ACCOUNT-STATUS_By_ID_mode_Delinquent,Common_ACCOUNT-STATUS_By_ID_mode_Others,Common_ACCOUNT-STATUS_By_ID_mode_Restructured,Common_ACCOUNT-STATUS_By_ID_mode_Settled,Common_ACCOUNT-STATUS_By_ID_mode_Suit Filed,Common_ACCOUNT-STATUS_By_ID_mode_Written Off
0,1.0,48.0,450000.0,275000.0,275000.0,24000.0,2012-02-10,2016-01-15,2012-02-10,61.11,49.0,35833.33,1.0,36.0,12.555556,113.0,0.0,28.0,8.333333,75.0,0.0,1.0,0.333333,3.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,24650.0,502016.0,2.016129e+05,1814516.0,41950.0,6626206.0,2.948763e+06,26538866.0,10487.500000,4.417471e+05,123417.273925,1.110755e+06,-443769.0,0.0,-71464.000000,-643176.0,-3.169779e+04,0.0,-8793.789322,-7.914410e+04,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.000000,0.000000e+00,1405.0,7934.0,4669.500000,9339.0,0.0,500000.0,2.445947e+05,2201352.0,0.0,443769.0,68725.111111,618526.0,4.0,2.0,5.337638,1,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0
1,2.0,47.0,485000.0,350000.0,350000.0,10500.0,2012-03-31,2016-02-15,2012-03-31,70.00,23.0,666.67,0.0,36.0,13.769231,179.0,0.0,31.0,2.384615,31.0,0.0,8.0,1.153846,15.0,0.0,5.0,0.461538,6.0,-3.0,0.0,-0.230769,-3.0,0.0,4666000.0,1.321513e+06,17179665.0,0.0,50349308.0,1.139739e+07,148166021.0,0.000000,3.479138e+06,843753.761673,1.096880e+07,-4584553.0,0.0,-796112.076923,-10349457.0,-1.528184e+06,0.0,-190914.068193,-2.481883e+06,0.0,0.0,0.000000,0.0,0.0,1100000.0,142630.769231,1854200.0,0.0,15400000.0,1.725608e+06,22432902.0,0.0,1.026667e+06,123143.986097,1.600872e+06,11430.0,74684.0,34852.600000,174263.0,300000.0,4666000.0,1.393622e+06,18117081.0,0.0,4584553.0,796112.076923,10349457.0,7.0,2.0,5.337638,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
2,3.0,68.0,690000.0,519728.0,519728.0,38300.0,2017-06-17,2023-02-10,2017-06-17,69.77,39.0,45257.00,0.0,15.0,1.935484,60.0,0.0,22.0,1.903226,59.0,0.0,4.0,0.387097,12.0,0.0,13.0,0.645161,20.0,0.0,0.0,0.000000,0.0,0.0,1125380.0,1.848856e+05,5731454.0,0.0,25551706.0,2.710554e+06,84027186.0,0.000000,8.517235e+05,134674.009949,4.174894e+06,-811839.0,0.0,-75327.903226,-2335165.0,-1.491365e+05,0.0,-9657.200201,-2.993732e+05,0.0,0.0,0.000000,0.0,0.0,461210.0,26274.903226,814522.0,0.0,602035.0,4.285713e+04,1328571.0,0.0,5.016958e+04,3971.689098,1.231224e+05,815.0,27288.0,15906.000000,95436.0,8703.0,950000.0,1.196248e+05,3708369.0,0.0,811839.0,66618.225806,2065165.0,8.0,5.0,5.168811,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0
3,7.0,48.0,480000.0,400000.0,400000.0,11600.0,2013-11-29,2017-11-10,2013-11-29,80.92,24.0,20833.33,5.0,36.0,19.750000,79.0,0.0,0.0,0.000000,0.0,0.0,1.0,0.250000,1.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,100000.0,780000.0,3.562168e+05,1424867.0,903546.0,10764000.0,4.764496e+06,19057982.0,52287.600000,6.727500e+05,260010.163514,1.040041e+06,-624000.0,0.0,-156000.000000,-624000.0,-4.160000e+04,0.0,-10400.000000,-4.160000e+04,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.000000,0.000000e+00,5571.0,5571.0,5571.000000,5571.0,100000.0,542553.0,3.181382e+05,1272553.0,0.0,624000.0,156000.000000,624000.0,2.0,1.0,5.337638,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
4,8.0,44.0,619265.0,440000.0,440000.0,15000.0,2011-12-08,2015-07-05,2011-12-08,71.05,56.0,27313.67,0.0,36.0,12.285714,86.0,0.0,12.0,2.714286,19.0,0.0,6.0,1.142857,8.0,0.0,36.0,6.857143,48.0,-25000.0,0.0,-3571.428571,-25000.0,60400.0,875000.0,3.334960e+05,2334472.0,513400.0,9772578.0,4.795377e+06,33567641.0,46672.727273,7.477273e+05,222432.448612,1.557027e+06,-787500.0,0.0,-139159.857143,-974119.0,-7.875000e+04,0.0,-12457.932540,-8.720553e+04,-4000.0,0.0,-571.428571,-4000.0,0.0,35520.0,8645.714286,60520.0,0.0,142080.0,2.899000e+04,202930.0,0.0,3.840000e+03,962.517007,6.737619e+03,1865.0,4572.0,2912.666667,8738.0,50000.0,580000.0,2.893166e+05,2025216.0,0.0,787500.0,139159.857143,974119.0,3.0,3.0,5.337638,1,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0

**Date-Time Value Encoding/Cleaning:**

In [380]:
df['DisbursalDate_Year'] = df['DisbursalDate'].dt.year
df['MaturityDAte_Quarter'] = df['MaturityDAte'].dt.quarter 
df['DisbursalMonth_Month'] = df['DisbursalDate'].dt.month  
df['DisbursalDate_Month_Start']=df['DisbursalDate'].dt.is_month_start
df['DisbursalDate_Month_End']=df['DisbursalDate'].dt.is_month_end

df['MaturityYear']=df['MaturityDAte'].dt.year
df['MaturityQuarter']=df['MaturityDAte'].dt.quarter
df['MaturityMonth']=df['MaturityDAte'].dt.month
df['MaturityDate_is_Month_Start']=df['MaturityDAte'].dt.is_month_start
df['MaturityDate_is_Month_End']=df['MaturityDAte'].dt.is_month_end

In [382]:
df.drop(['DisbursalDate', 'MaturityDAte'], axis=1, inplace=True)

In [384]:
df = pd.get_dummies(df, drop_first=True)

**Yes You Can**
**Advance Feature Enginnering - only later**

In [392]:
var_threshold = VarianceThreshold(threshold=0.1)

In [394]:
var_threshold
df.columns[var_threshold.get_support()]
len(df.columns)

TypeError: ignored